@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700&display=swap');

body {
    font-family: 'Nanum Myeongjo', serif;
    background-color: #fffbf4;
}

.main-head {
    height: 150px;
    background: #FFF;

}

.sidenav {
    height: 100%;
    background-color: #00690c;
    overflow-x: hidden;
    padding-top: 20px;
}

.main {
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
}

@media screen and (max-width: 450px) {
    .login-form {
        margin-top: 10%;
    }

    .register-form {
        margin-top: 10%;
    }
}

@media screen and (min-width: 768px) {
    .main {
        margin-left: 40%;
    }

    .sidenav {
        width: 40%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }

    .login-form {
        margin-top: 30%;
    }

    .register-form {
        margin-top: 20%;
    }
}

.login-main-text {
    margin-top: 30%;
    padding: 60px;
    color: #fff;
}

.login-main-text h2 {
    font-weight: 300;
}

.btn-black {
    background-color: #838b8b !important;
    color: #fff;
}

#duplicate {
    margin-top: 10px;
}

.image-container {
    position: relative;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.image-container:hover .image {
    opacity: 0.3;
}

.image-container:hover .middle {
    opacity: 1;
}

.container {
    width: 80%;
}

#post_header {
    background-color: #00690c;
    color: white;
}

#log_main {
    margin-top: 15%;
}

button {
    background-color: #00690c;
    color: #fff;
}

button:hover {
    background-color: #014a0a;
    color: #fff;
}

.btn_left {
    background-color: #fffbf4;
    color: #000;
}

.btn_left:hover {
    background-color: rgb(220, 208, 187);
}